### Efficient Janitor

The janitor of a high school is extremely efficient. By the end of each day, all of the school's waste is in plastic bags between 1.01 pounds and 3.00 pounds. All plastic bags are then taken to the trash bins outside. One trip is described as selecting a number of bags which together do not weigh more than 3.00 pounds, dumping them in the outside trash can and returning to the school. Given the number of plastic bags $n$, and the weights of each bag, determine the minimum number of trips the janitor has to make.

In [1]:
import math
import os
import random
import re
import sys

# The function is expected to return an INTEGER.
# The function accepts FLOAT_ARRAY weight as parameter.
def efficientJanitor(weight):
    # Write your code here
    max_weight = 3.0
    num_trips = 0
    # Sort the list
    weight.sort()
    while len(weight) > 0:
        # Get the bag with the maximum weight
        current_weight = weight.pop()
        print(current_weight)
        # Since the bags weigh betweet 1.01 to 3.0, a maximum of 2 bags can be carried at one time
        # So we get the maximum possible combination
        for w in weight:
            if current_weight + w <= 3.0:
                weight.remove(w)
                print(w)
                break
        num_trips += 1
        print()
    return num_trips

In [2]:
efficientJanitor([1.01, 1.99, 2.5, 1.5, 1.01])

2.5

1.99
1.01

1.5
1.01

3

In [3]:
efficientJanitor([1.01, 1.01, 1.01, 1.4, 2.4])

2.4

1.4
1.01

1.01
1.01

3

In [4]:
efficientJanitor([1.01, 1.991, 1.32, 1.4])

1.991

1.4
1.01

1.32

3

### Divisible String

Given two strings, $s$ and $t$, create a function that operates per the following rules:

1. Find whether string $s$ is divisible by string $t$. String $s$ divisible by string $t$ if string $t$ can be concatenated some number of times to obtain the string $s$.
    - If $s$ is divisible, find the smallest string $u$, such that it can be concatenated some number of times to obtain both $s$ and $t$.
    - If it is not divisble, set the return value to -1
<br><br>
2. Return the length of the string $u$ or -1

In [5]:
import math
import os
import random
import re
import sys

# The function is expected to return an INTEGER.
# The function accepts following parameters:
#  1. STRING s
#  2. STRING t
def findSmallestDivisor(s, t):
    # Write your code here
    # If string s is divisible by string t, we should get an empty string when we substract t from s
    # We can use the replace() function for the substraction
    if s.replace(t, "") == "":
        # If string s is divisble by string t, the string u is the smallest repeating pattern that
        # exists in string t
        # Assuming we cannot import external library to use regular expression to find such pattern
        for i in range(1, len(t)+1):
            u = t[:i]
            # The smallest pattern
            if t.replace(u, "") == "":
                return len(u)
        # No smallest pattern, return length of string t
        return len(t)
    # Not divisible
    else:
        return -1

In [6]:
s = "bcdbcdbcdbcd"
t = "bcdbcd"
findSmallestDivisor(s, t)

3

In [7]:
t[:int(len(t) / 2)]

'bcd'

In [8]:
s = "bcdbcdbcd"
t = "bcdbcd"
findSmallestDivisor(s, t)

-1

In [9]:
s = "lrbblrbb"
t = "lrbb"
findSmallestDivisor(s, t)

4

In [10]:
s = "rbrb"
t = "rbrb"
findSmallestDivisor(s, t)

2

### Predicting the Temperature

Given the hourly temperatur data for each $24$ hour period in $p$ prior days spanning from `startDate` to `endDate` (inclusive), predict the hourly temperature data for the next $n$ days starting from the day after `endDate`.

In [11]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

def predictTemperature(startDate, endDate, temperature, n):
    return

In [12]:
startdate = '2013-01-01'
enddate = '2013-01-01'
temperature = [34.38, 34.36, 34.74, 35.26, 35.23, 35.29, 35.64, 36.02, 36.1, 36.98, 37.01, 36.75, 36.01, 35.66, \
               34.72, 33.9, 32.62, 31.51, 30.73, 29.5, 26.94, 25.47, 23.84, 22.55]
n = 1

In [13]:
startDate = pd.to_datetime(startdate, format='%Y-%m-%d')
endDate = pd.to_datetime(startdate, format='%Y-%m-%d')
df = pd.DataFrame(index=pd.date_range(start=startDate, end=endDate + pd.DateOffset(days=1), freq='1H', \
                                            closed='left'))
df['Temperature'] = temperature
df.head()

                     Temperature
2013-01-01 00:00:00        34.38
2013-01-01 01:00:00        34.36
2013-01-01 02:00:00        34.74
2013-01-01 03:00:00        35.26
2013-01-01 04:00:00        35.23

In [14]:
df_test = pd.DataFrame(index=pd.date_range(start=endDate, periods=24*n, freq='1H', closed='left'))
df_test.head()

Empty DataFrame
Columns: []
Index: [2013-01-01 00:00:00, 2013-01-01 01:00:00, 2013-01-01 02:00:00, 2013-01-01 03:00:00, 2013-01-01 04:00:00]

In [15]:
df.describe()

       Temperature
count    24.000000
mean     32.967083
std       4.273107
min      22.550000
25%      31.315000
50%      34.730000
75%      35.747500
max      37.010000

In [16]:
# Feature engineering - lagged data
# Get up to 3 lag
df_train = df.copy()
for i in range(1, 4):
    df_train['Lag '+str(i)] = df.shift(i)
    
df_train.head()

                     Temperature  Lag 1  Lag 2  Lag 3
2013-01-01 00:00:00        34.38    NaN    NaN    NaN
2013-01-01 01:00:00        34.36  34.38    NaN    NaN
2013-01-01 02:00:00        34.74  34.36  34.38    NaN
2013-01-01 03:00:00        35.26  34.74  34.36  34.38
2013-01-01 04:00:00        35.23  35.26  34.74  34.36

In [17]:
temp_model = sm.tsa.SARIMAX(df, order=(1,0,1), freq='H').fit()
temp_model.forecast(len(df_test))

2013-01-02 00:00:00    22.277471
2013-01-02 01:00:00    22.260052
2013-01-02 02:00:00    22.242645
2013-01-02 03:00:00    22.225253
2013-01-02 04:00:00    22.207874
2013-01-02 05:00:00    22.190509
2013-01-02 06:00:00    22.173157
2013-01-02 07:00:00    22.155819
2013-01-02 08:00:00    22.138494
2013-01-02 09:00:00    22.121183
2013-01-02 10:00:00    22.103886
2013-01-02 11:00:00    22.086602
2013-01-02 12:00:00    22.069331
2013-01-02 13:00:00    22.052074
2013-01-02 14:00:00    22.034831
2013-01-02 15:00:00    22.017601
2013-01-02 16:00:00    22.000384
2013-01-02 17:00:00    21.983181
2013-01-02 18:00:00    21.965991
2013-01-02 19:00:00    21.948815
2013-01-02 20:00:00    21.931653
2013-01-02 21:00:00    21.914503
2013-01-02 22:00:00    21.897367
2013-01-02 23:00:00    21.880245
Freq: H, Name: predicted_mean, dtype: float64